* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #707070;
    --black: #414040;
    --green: #B68C5A;
    --primary-font-size: 40px;
    --primary-width: 800;
    --secondary-font-size: 24px;
    --secondary-width: 400;
    --third-font-size: 16px;
    --third-width: 400;
    --primary-font-family: 'EB Garamond', serif;
    --secondary-font-family: 'Poppins', sans-serif;
}

/* nav style */
.height {
    height: 20vh;
    border-radius: 5px;
}

.nav-button-me {
    font-size: var(--third-font-size) !important;
    font-weight: var(--third-width) !important;
    color: var(--dark) !important;
    border-bottom: 2px solid white;
}

.nav-button-me:hover {
    color: var(--green) !important;
    border-bottom: 2px solid var(--green) !important;
}

.button-primary {
    padding: 10px 35px;
    border: 1px solid var(--green);
    border-radius: 5px;
    color: white;
    background-color: var(--green);
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
}

.button-primary:hover {
    color: var(--black);
    border: 1px solid var(--green);
    background-color: white;
    transition: all ease 0.1s;
}

/* banner section style  */
.banner {
    height: 100vh;
    background: url(../images/banner.png), linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.575));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 5px;
}

.banner-head {
    font-size: 72px;
    font-family: var(--primary-font-family);
    font-weight: var(--primary-width);
    color: white;
}

.banner-title {
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
    color: white;
}

.search-input {
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: var(--green);
    color: white;
}

.submit-button:hover {}

/* legel section style  */
.legel-head {
    font-size: var(--primary-font-size);
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}

.legel-title {
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
    font-family: var(--secondary-font-family);
    color: var(--dark);
}

.legal-head {
    font-family: var(--primary-font-family);
    color: var(--black);
    font-size: 32px;
    font-weight: var(--primary-width);
}

.legal-title {
    font-family: var(--primary-font-family);
    color: var(--dark);
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
}

.law-button {
    border: 0;
    background-color: white;
}

.law-hover:hover {
    background: linear-gradient(180deg, #f1ecec, rgba(243, 243, 243, 0.00));
    ;
}

/* our team section style  */
.team-head {
    font-size: var(--primary-font-size);
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}

.team-title {
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
    font-family: var(--secondary-font-family);
    color: var(--dark);
}

.name {
    font-size: 32px;
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}

.title {
    font-size: 18px;
    font-weight: var(--secondary-width);
    font-family: var(--secondary-font-family);
    color: var(--green);
}

.social-icons {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    color: var(--dark);
    border-radius: 5px;
}

.social-icons:hover {
    background-color: var(--green);
    color: white;
    border: 1px solid white;
}

/* our client section style  */
.client-head {
    font-size: var(--primary-font-size);
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}

.client-title {
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
    color: var(--dark);
    font-family: var(--secondary-font-family);
}
/* .carousel-height{
    height: 500px;
} */
.carousel-background{
    background: url(../images/slider-1.jpg), linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795));
    background-blend-mode: overlay;
    background-size: cover;
    border-radius: 5px;
    background-position: center;

}
.client-img{
    width: 70px;
    height: 70px;
}
/* faq section style  */
.faq-head{
    font-size: var(--primary-font-size);
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}
.faq-title{
    font-weight: var(--third-width);
    font-size: var(--third-font-size);
    font-family: var(--secondary-font-family);
    color: var(--dark);
}
.second-redius{
    border-radius: 5px !important;
}
.question{
    color: var(--black) !important;
    font-size: 32px !important;
    font-weight: var(--primary-width) !important;
    font-family: var(--primary-font-family) !important;
}
.answer{
    color: var(--dark) !important;
    font-size: var(--third-font-size) !important;
    font-weight: var(--secondary-width) !important;
    font-family: var(--secondary-font-family) !important;
}
/* conatact section  style  */
.contact-head{
    font-size: var(--primary-font-size);
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}
.contact-title{
    font-size: var(--third-font-size);
    font-family: var(--secondary-font-family);
    font-weight: var(--third-width);
    color: var(--dark);
}
.bg-contact{
    background-color: #F3F3F3;
}
.bg-contact:hover{
    background-color: #eee3e3;
}
.address-head{
    font-style: 32px;
    font-weight: var(--primary-width);
    font-family: var(--primary-font-family);
    color: var(--black);
}
.address-title{
    color: var(--dark);
    font-size: var(--third-font-size);
    font-weight: var(--third-width);
    font-family: var(--secondary-font-family);
}
.form-style{
    color: var(--dark) !important;
    font-size: var(--secondary-font-size) !important;
    font-weight: 400 !important;
    background-color: #F3F3F3 !important;
}
.contect-button{
    border: 0;
    background-color: var(--green);
    padding: 21px 0;
    color: white;
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-width);
    font-family: var(--secondary-font-family);
    border-radius: 5px;
}
.contect-button:hover{
    background: linear-gradient(rgba(0, 128, 0, 0.822), rgba(0, 128, 0, 0.76));
}